@charset "utf-8";/*CSS reset*/

/* mainbanner */
.indexJia-box{background:url(../images/indexJia.png) no-repeat center top #fff;}
.indexJia{width:1000px;margin:0 auto;background:url(../images/indexJia.png) no-repeat center top;overflow:hidden;height:896px;}
.indexJia-01{width:1000px;height:688px;overflow:hidden;background:url(../images/indexJia-01.png) no-repeat center 107px;}
.indexJin{margin:76px 0 44px 0;text-align:center;background:url(../images/indexJin.png) no-repeat center bottom;padding-bottom:27px;}
.indexJin p{text-align:center;color:#252525;font-size:14px;}
.indexJin span{display:inline-block;width:155px;height:30px;text-align:center;line-height:30px;color:#fff;overflow:hidden;background:#f78b29;border-radius:20px;margin-top:10px;}

.indexPei-box{background:#f4f7f8;height:622px;}
.indexPei{width:1000px;background:url(../images/indexPei.png) no-repeat center center #f4f7f8;height:622px;margin:0 auto;overflow:hidden;}

.contentBox{height:507px;overflow:hidden;position:relative;}
.contentBanner{left:50%;width:1920px;height:507px;overflow:hidden;margin-left:-960px;position:absolute;}

.productBox{background:url(../images/productBg.png) no-repeat center bottom #24b2e1;padding:48px 0;}
.productIn{width:1000px;margin:0 auto;overflow:hidden;}
.productIn-left{width:498px;height:716px;overflow:hidden;float:left;background:#fff;border-radius:10px;}
.productIn-left dl{width:498px;padding-top:114px;}
.productIn-left dt{width:371px;height:398px;overflow:hidden;text-align:center;margin:0 auto;margin-bottom:45px;}
.productIn-left dd{width:370px;margin:0 auto;font-size:18px;color:#1cb1c7;}
.productIn-left dd span{font-size:36px;color:#1cb1c7;}
.productIn-left dd a{font-size:22px;color:#1a485c;}
.productIn-left dd a:hover{color:#f00;}

.productIn-right{width:498px;height:716px;overflow:hidden;float:right;}
.productIn-right dl{width:498px;height:356px;overflow:hidden;background:#fff;border-radius:10px;}
.productIn-right dl.productIn-li{margin-top:4px;}
.productIn-right dt{width:412px;height:222px;overflow:hidden;text-align:right;margin:0 auto;padding-top:30px;}
.productIn-right dd{width:370px;margin:0 auto;font-size:18px;color:#1cb1c7;}
.productIn-right dd span{font-size:36px;color:#1cb1c7;}
.productIn-right dd a{font-size:22px;color:#1a485c;}
.productIn-right dd a:hover{color:#f00;}
.productJin{margin:30px 0 0 0;text-align:center;background:url(../images/productJin.png) no-repeat center bottom;padding-bottom:27px;}
.productJin p{text-align:center;color:#fff;font-size:14px;}
.productJin span{display:inline-block;width:155px;height:30px;text-align:center;line-height:30px;color:#fff;overflow:hidden;background:#f78b29;border-radius:20px;margin-top:10px;}


.mainBanenr-box{height:876px;overflow:hidden;position:relative;}
.mainBanner{left:50%;width:1920px;height:876px;overflow:hidden;margin-left:-960px;position:absolute;}

/* flexslider */
.flexslider{position:relative;height:876px;overflow:hidden;background:url(../images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:876px;}
.flex-control-nav{position:absolute;bottom:40px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:rgba(0, 0, 0, 0.5);cursor:pointer;border-radius:50px;}
.flex-control-nav .flex-active{background:#f70;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:40px;background:url(../images/prev.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:40px;background:url(../images/next.png) center center no-repeat;}



.mainBox{background:url(../images/indexJia.png) no-repeat center top;height:513px;}
.mainIn{width:1000px;padding-top:143px;height:370px;margin:0 auto;}
.mainIn li{width:305px;height:232px;overflow:hidden;float:left;margin:0px 14px;position:relative;display:inline;}
.mainIn li a{display:inline-block;width:305px;height:232px;}
.mainIn li a.mainIn-img1{background:url(../images/main01.png) no-repeat;}
.mainIn li a.mainIn-img1:hover{background:url(../images/main01-xiao.png) no-repeat;}
.mainIn li a.mainIn-img1.hover{background:url(../images/main01-xiao.png) no-repeat;}
.mainIn li a.mainIn-img2{background:url(../images/main02.png) no-repeat;}
.mainIn li a.mainIn-img2:hover{background:url(../images/main02-xiao.png) no-repeat;}
.mainIn li a.mainIn-img3{background:url(../images/main01.png) no-repeat;}
.mainIn li a.mainIn-img3:hover{background:url(../images/main03-xiao.png) no-repeat;}
.mainIn li a .play,.mainIn li a .txtbg{display:none;z-index:99}
.mainIn li .play{width:83px;height:83px;background:url(../images/play.png) no-repeat;position:absolute;top:70px;left:50%;margin-left:-41px;}
.mainIn li .txtbg{position:absolute;width:100%;height:42px;background:rgba(0, 0, 0, 0.6);bottom:0;border-radius:0 0 12px 12px;line-height:42px;}
.mainIn li .txtbg span{color:#fff;font-size:16px;text-indent:1em;display:inline-block;}
.mainIn li a .db{display:block;}



/*个人中心*/
.individual{width:1000px;margin:57px auto 0;margin-bottom:100px;overflow:hidden;}
.individualLeft{width:139px;float:left;}
.individualLeft h3{width:139px;border-bottom:1px solid #313131;font-size:18px;font-family:"微软雅黑";height:30px;line-height:30px;text-align:center;}
.individualLeft ul{width:139px;border-bottom:1px solid #e5e5e5;padding-bottom:100px;}
.individualLeft li{width:138px;border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;height:55px;line-height:55px;text-align:center;}
.individualLeft li a{color:#4e4e4e;font-size:14px;font-family:"微软雅黑";padding-right:10px;}
.individualLeft li a:hover{color:#f70;background:url(../images/individualLeft.png) no-repeat right center;}
.individualLeft li a.hover{color:#f70;background:url(../images/individualLeft.png) no-repeat right center;}

.individualRight{width:823px;float:right;}
.individualRight-title{width:823px;margin-top:22px;height:31px;overflow:hidden;}
.individualRight-title strong{float:left;border-bottom:1px solid #f00;width:88px;height:30px;line-height:30px;color:#202121;font-size:18px;font-family:"微软雅黑";}
.individualRight-right{float:right;border-bottom:1px solid #313131;width:735px;text-align:right;height:30px;line-height:30px;}
.individualRight-right a{font-size:14px;color:#535352;font-family:"微软雅黑";margin:0 10px;}
.individualRight-right a:hover{color:#ff4a00;}
.individualRight-right a.hover{color:#ff4a00;}

.individualRight_in{width:823px;margin-top:33px;}
.individualRight_in td{border:1px solid #e5e5e5;padding:10px;font-size:14px;color:#494848;}
.individualRight_in table{border-collapse:collapse;}
.individualRight_in td span{margin:0 10px;}
.individualRight_in td label{margin:0 10px;}
.individualRight_in td label.individual-color1{color:#ff4a00;}
.individualRight_in td label.individual-color2{color:#00c762;}
.individualRight_in td a{display:inline-block;color:#494848;width:152px;text-align:center;height:24px;line-height:24px;}
.individualRight_in td a:hover{color:#f70;}
.individualRight_in td a.individual-bck1{background:#f5345d;display:inline-block;width:107px;height:29px;line-height:29px;text-align:center;color:#fff;border-radius:15px;}
.individualRight_in td a.individual-bck2{background:#58bca8;display:inline-block;width:107px;height:29px;line-height:29px;text-align:center;color:#fff;border-radius:15px;}
.individualRight_in td a.individual-bck3{background:#7b7b7b;display:inline-block;width:107px;height:29px;line-height:29px;text-align:center;color:#fff;border-radius:15px;}
.individualRight_in td a.individual-bck4{background:#f39800;display:inline-block;width:107px;height:29px;line-height:29px;text-align:center;color:#fff;border-radius:15px;}
.individualRight_in td a.individual-bck5{background:#89c801;display:inline-block;width:107px;height:29px;line-height:29px;text-align:center;color:#fff;border-radius:15px;}
.individualRight_in td dl{width:380px;overflow:hidden;}
.individualRight_in td dt{width:69px;height:69px;border:1px solid #e5e5e5;float:left;}
.individualRight_in td dd{width:300px;float:right;}
.individualRight_in td dd a{display:inline-block;color:#494848;width:300px;text-align:left;}


/*登录与注册*/
.loginBox{height:853px;background:#fbfbfb;width:100%;}
.loginIn{width:427px;margin:0 auto;overflow:hidden;}
.loginTop{width:427px;margin-top:150px;overflow:hidden;}
.loginLogo{width:427px;height:84px;overflow:hidden;background:url(../images/loginLogo.png) no-repeat center top;float:left;text-indent:-500px;}
.loginFrom{width:427px;margin-top:40px;}
.loginFrom li{margin-top:10px;}
.loginFrom li.loginBorder{width:425px;height:59px;border:1px solid #c9c9c9;border-radius:30px;}
.loginFrom li.loginBg1{background:url(../images/loginBg1.png) no-repeat 45px center;}
.loginFrom li.loginBg2{background:url(../images/loginBg2.png) no-repeat 45px center;}
.loginFrom li .loginInput{margin-left:83px;width:324px;border:none;border-left:1px solid #c9c9c9;background:none;height:20px;text-indent:1em;color:#dadada;margin-top:20px;}
.loginFrom li .loginInput1{width:310px;height:59px;line-height:59px;background:#fbfbfb;border:1px solid #c9c9c9;border-radius:30px;text-indent:3em;color:#dadada;float:left;}
.loginFrom li .loginButton1{width:427px;height:61px;line-height:61px;border-radius:30px;background:#009dee;text-align:center;font-size:18px;font-family:"微软雅黑";border:none;color:#fff;margin-top:10px;}
.loginFrom li .loginButton2{width:425px;height:59px;line-height:59px;border:1px solid #c9c9c9;border-radius:30px;background:#fbfbfb;text-align:center;font-size:18px;font-family:"微软雅黑";}


/*订单结算页*/
.nodeBox{overflow:hidden;}
.receiptBox{background:#fbfbfb;padding:50px 0;}
.payBox{background:#fff;padding:50px 0;}
.receiptIn{width:1000px;overflow:hidden;margin:0 auto;}
.receiptTop{width:1000px;margin-top:22px;height:31px;overflow:hidden;}
.receiptTop strong{float:left;border-bottom:2px solid #7cccf1;width:218px;height:30px;line-height:30px;color:#202121;font-size:14px;font-family:"微软雅黑";background:url(../images/receipt.png) no-repeat left center;padding-left:20px;}
.receiptTop i{float:right;border-bottom:2px solid #e6e7e7;width:762px;height:30px;line-height:30px;}

.placetime{overflow:hidden;margin-top:20px;}
.placetime ul{padding:20px 30px 10px;}
.address_pub li{text-align:left;line-height:34px;height:36px;overflow:hidden;margin-bottom:10px;}
.address_pub label{display:inline-block;width:80px;text-align:right;float:left;}
.address_pub label em{color:#d9534f;margin-right:2px;}
.address_pub .w1{width:293px;}
.address_pub input{height:30px;line-height:30px;padding:2px 5px;width:100px;border:1px solid #dcdcdc;background:#fbfbfb;border-radius:20px;}
.address_pub select{height:30px;line-height:30px;padding:2px 5px;width:90px;border:1px solid #dcdcdc;background:#fbfbfb;border-radius:20px;}

.js_payFirst{margin-top:20px;overflow:hidden;} 
.js_payFirst label{float:left;display:inline;height:58px;float:left;padding:5px 20px;position:relative;border:1px solid #eaeaea;border-radius:15px;margin-right:20px;}
.js_payFirst label img{margin-left:10px;cursor:pointer;}
.js_payFirst label .js_payFirst_che{float:left;margin-top:24px}


.orderTop{height:39px;line-height:39px;background:#f5f5f5;overflow:hidden;}
.orderTop p{font-weight:700;float:left;color:#3d3c3c;}
.orderTop .products{width:575px;padding:0;text-align:center;}
.orderTop .price{width:133px;padding:0;text-align:center;}
.orderTop .number{width:160px;padding:0;text-align:center;}
.orderTop .money{width:132px;padding:0;text-align:center;}

.orderIn{overflow:hidden;}
.orderIn tr{border-bottom:1px solid #f3f4f4;}
.orderIn td{padding:20px 10px;font-size:14px;color:#494848;}
.orderIn table{background:#fff;border-collapse:collapse;}
.orderIn td a{color:#494848;height:24px;line-height:24px;}
.orderIn td a:hover{color:#f70;}
.orderIn td dl{width:480px;overflow:hidden;}
.orderIn td dt{width:69px;height:69px;border:1px solid #e5e5e5;float:left;}
.orderIn td dd{width:400px;float:right;text-align:left;}
.orderIn td p{border:1px solid #ccc;line-height:26px;display:inline-block;background:#fff;}
.orderIn td p i.no-drop{width:26px;height:28px;float:left;cursor:pointer;background:url(../images/p_Spirit2.png) no-repeat;}
.orderIn td p input{float:left;border-width:0 1px;border-color:#ccc;border-style:solid;width:40px;height:18px;background:#fff;padding:5px;text-align:center;}
.orderIn td p i.increase{width:26px;height:28px;float:left;cursor:pointer;background:url(../images/p_Spirit3.png) no-repeat;}

.message{overflow:hidden;margin-top:20px;}
.messageLeft{width:700px;float:left;color:#4e4e4e;font-size:14px;font-family:"微软雅黑";padding-top:10px;}
.messageLeft .message-input{border:1px solid #ece9e9;width:389px;height:26px;border:1px solid #ece9e9;text-indent:1em;line-height:26px;}
.messageRight{width:300px;float:right;text-align:right;}
.messageRight p{line-height:24px;color:#4e4e4e;font-size:14px;font-family:"微软雅黑";}
.messageRight span{color:#00a882;}
.messageRight label{margin-left:20px;}

.Price{width:958px;height:;border:1px solid #dbdfdf;text-align:right;margin-top:20px;padding:20px;}
.Price span{color:#ff2323;font-size:24px;font-family:"微软雅黑";}
.PriceTi{margin-top:20px;text-align:center;overflow:hidden;}
.PriceTi .PriceButton{width:274px;height:48px;line-height:48px;border:none;color:#fff;font-size:18px;font-family:"微软雅黑";border-radius:30px;}
.PriceTi .PriceBg1{background:#ff8644;}
.PriceTi .PriceBg2{background:#f5345d;margin-bottom:50px;}

.Success{width:998px;height:321px;margin:0 auto;margin-top:50px;margin-bottom:30px;border:1px solid #eaeaea;overflow:hidden;}
.SuccessLeft{width:228px;border-right:1px solid #eaeaea;height:321px;overflow:hidden;float:left;}
.SuccessCheng{background:url(../images/Success.png) no-repeat center center;}
.SuccessRight{width:769px;float:right;}
.SuccessRight-top{padding:60px 0 0 50px;border-bottom:1px solid #eaeaea;height:83px;overflow:hidden;line-height:83px;color:#282828;font-size:30px;font-family:"微软雅黑";}

.SuccessRight-foot{padding:30px 0 0 50px;}
.SuccessRight-foot p{line-height:30px;font-size:14px;font-family:"微软雅黑";color:#838383;}
.SuccessRight-foot p span{margin-left:100px;}
.SuccessRight-foot p label{color:#f5345d;}


/*帮助中心*/
.help-title{width:823px;margin-top:22px;height:31px;overflow:hidden;}
.help-title strong{float:left;border-bottom:1px solid #00b7ee;width:88px;height:30px;line-height:30px;color:#202121;font-size:18px;font-family:"微软雅黑";}
.help-right{float:right;border-bottom:1px solid #b5b5b5;width:735px;text-align:right;height:30px;line-height:30px;}
.helpContent{width:823px;margin-top:20px;overflow:hidden;color:#333;line-height:24px;font-family:"微软雅黑";}

/*论坛*/
.forumHead{width:1000px;height:69px;overflow:hidden;margin:0 auto;}
.forumFrom{width:362px;height:38px;overflow:hidden;background:url(../images/topInput.png) no-repeat;float:right;margin-top:18px;}
.forumFrom-input{width:288px;height:38px;line-height:38px;overflow:hidden;padding:0px 10px 0 20px;border:none;background:none;float:left;}
.forumFrom-button{width:44px;height:38px;overflow:hidden;border:none;background:none;float:left;cursor:pointer;}
.forumLink{float:right;height:69px;line-height:69px;margin-left:20px;}
.forumLink a{margin:0 10px;color:#41474a;}
.forumLink a:hover{color:#f70;}
.forumLink a.hover{color:#f70;}

.forumMenu{background:#1ca9d8;height:49px;}

.forumMenu-in{width:1000px;height:49px;margin:0 auto;position:relative;}
.forumLogo-box{width:208px;height:89px;overflow:hidden;background:#fff;position:absolute;top:-40px;left:0;}
.forumLogo{width:208px;height:89px;background:url(../images/forumLogo.png) no-repeat center center;float:left;text-indent:-300px;overflow:hidden;}
.forumMenu-in ul{position:absolute;right:0px;top:0px;height:49px;line-height:49px;}
.forumMenu-in li{display:inline;color:#fff;}
.forumMenu-in li a{font-size:16px;color:#fff;padding:0 40px;}
.forumMenu-in li a:hover{color:#f70;}

.forumBanner{width:1000px;height:282px;overflow:hidden;}

.forumBox{width:1000px;overflow:hidden;margin-top:10px;}
.forumLeft{width:666px;float:left;overflow:hidden;}
.Notice{width:665px;height:61px;overflow:hidden;border:1px solid #f9f8f8;border-right:none;}
.Notice-left{width:470px;float:left;height:61px;}
.Notice-left span{float:Left;height:61px;line-height:61px;background:url(../images/Notice.png) no-repeat left center;padding-left:15px;margin-left:15px;display:inline;}
.Notice-left ul{float:left;padding-left:10px;}
.Notice-left li{height:61px;line-height:61px;overflow:hidden;}
.Notice-left li a{color:#f70;}
.Notice-left li a:hover{color:#1ca9d8;}
.Notice-right{float:right;}
.Notice-right li{display:inline;height:61px;line-height:61px;padding-right:10px;}

.NoticeList{width:666px;overflow:hidden;}
.NoticeList dl{width:666px;padding:21px 0;border-bottom:1px solid #e9eded;overflow:hidden;}
.NoticeList dt{width:77px;height:100px;overflow:hidden;text-align:center;float:left;}
.NoticeList dt a{line-height:23px;color:#747272;}
.NoticeList dt a:hover{color:#f70;}

.NoticeList dd{width:560px;float:right;}
.NoticeList dd strong{font-size:20px;font-weight:600;font-family:"微软雅黑";color:#4a4c4d;}
.NoticeList dd a{line-height:20px;color:#292a2a;font-family:"微软雅黑";}
.NoticeList dd a:hover{color:#f70;}
.NoticeList dd span{background:url(../images/NoticeList1.png) no-repeat left center;padding-left:20px;}
.NoticeList dd label{background:url(../images/NoticeList2.png) no-repeat left center;padding-left:20px;margin-left:20px;}
.NoticeList dd cite{background:url(../images/NoticeList3.png) no-repeat left center;padding-left:20px;margin-left:20px;}

.NoticePage{text-align:center;margin-top:20px;}
.NoticePage li{display:inline;text-align:center;margin:0 10px;}
.NoticePage li a{display:inline-block;width:39px;height:39px;border:1px solid #cacaca;line-height:39px;text-align:center;color:#bcbfc0;border-radius:20px;font-size:14px;}
.NoticePage li a:hover{background:#cacaca;border:1px solid #cacaca;color:#fff;}
.NoticePage li a.hover{background:#cacaca;border:1px solid #cacaca;color:#fff;}

.forumRight{background:#f9f8f8;width:291px;padding:20px 21px;float:Right;overflow:hidden;}
.Post{overflow:hidden;}
.PostButton{display:inline-block;width:147px;background:url(../images/PostButton.png) no-repeat 60px 25px #53c0e4;padding-left:144px;height:80px;overflow:hidden;line-height:80px;color:#fff;font-size:24px;font-family:"微软雅黑";}

.PostList{overflow:hidden;}
.PostList li{float:left;}
.PostList li.Post_li{background:url(../images/PostRight.png) no-repeat left center #b2eaf6;width:105px;height:76px;padding-top:40px;color:#006e92;font-size:16px;font-family:"微软雅黑";overflow:hidden;padding-left:40px;}

.noticeShart{margin-top:30px;overflow:hidden;}
.noticeShart h3{font-size:24px;font-family:"微软雅黑";color:#292727;}
.noticeConvenient{overflow:hidden;margin-top:10px;}
.noticeConvenient li{width:90px;height:42px;margin-right:7px;float:left;margin-top:10px;}
.noticeConvenient li a{width:90px;height:42px;overflow:hidden;text-align:center;line-height:42px;display:inline-block;background:#fff;border-radius:10px;color:#686666;font-family:"微软雅黑";}
.noticeConvenient li a:hover{color:#f70;}

.noticeUp{margin-top:20px;overflow:hidden;}
.noticeUp li{background:url(../images/noticeUp.png) no-repeat left center;padding-left:15px;border-bottom:1px dashed #cad1d1;height:31px;line-height:31px;}
.noticeUp li a{color:#686666;}
.noticeUp li a:hover{color:#f70;}

.noticeActivity{margin-top:20px;overflow:hidden;}
.noticeActivity li{background:url(../images/noticeActivity.png) no-repeat left center;padding-left:15px;border-bottom:1px dashed #cad1d1;height:30px;line-height:30px;}
.noticeActivity li a{color:#686666;}
.noticeActivity li a:hover{color:#f70;}

.forumCopyright-box{background:#30a1c6;padding:20px 0;text-align:center;margin-top:30px;color:#fff;line-height:24px;font-family:"微软雅黑";}
.forumCopyright-box a{padding:0 20px;color:#fff;}
.forumCopyright-box a:hover{}
.forumCopyright-box span{color:#f9ff53;margin-left:10px;}

.productsBox{background:#f1f9fb;padding:48px 0;}
.productsIn{width:1000px;margin:0 auto;overflow:hidden;}
.productsIn-left{width:498px;height:716px;overflow:hidden;float:left;background:#fff;border-radius:10px;}
.productsIn-left dl{width:498px;padding-top:114px;}
.productsIn-left dt{width:371px;height:398px;overflow:hidden;text-align:center;margin:0 auto;margin-bottom:45px;}
.productsIn-left dd{width:370px;margin:0 auto;font-size:18px;color:#1cb1c7;}
.productsIn-left dd span{font-size:36px;color:#1cb1c7;}
.productsIn-left dd a{font-size:22px;color:#1a485c;}
.productsIn-left dd a:hover{color:#f00;}

.productsIn-right{width:498px;height:716px;overflow:hidden;float:right;}
.productsIn-right dl{width:498px;height:356px;overflow:hidden;background:#fff;border-radius:10px;}
.productsIn-right dl.productIn-li{margin-top:4px;}
.productsIn-right dt{width:412px;height:222px;overflow:hidden;text-align:right;margin:0 auto;padding-top:30px;}
.productsIn-right dd{width:370px;margin:0 auto;font-size:18px;color:#1cb1c7;}
.productsIn-right dd span{font-size:36px;color:#1cb1c7;}
.productsIn-right dd a{font-size:22px;color:#1a485c;}
.productsIn-right dd a:hover{color:#f00;}
.productsJin{margin:30px 0 0 0;text-align:center;background:url(../images/productsJin.png) no-repeat center bottom;padding-bottom:27px;}
.productsJin p{text-align:center;color:#565555;font-size:14px;}
.productsJin span{display:inline-block;width:155px;height:30px;text-align:center;line-height:30px;color:#fff;overflow:hidden;background:#f78b29;border-radius:20px;margin-top:10px;}

/*个人信息*/
.Personal{width:139px;float:left;}
.Personal h3{width:139px;border-bottom:1px solid #313131;font-size:18px;font-family:"微软雅黑";height:30px;line-height:30px;text-align:center;}
.Personal h3.Personal-line{width:138px;border-right:1px solid #e5e5e5;padding-top:30px;}
.Personal li{width:138px;border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;height:55px;line-height:55px;text-align:center;background:url(../images/Personal.jpg) no-repeat;}
.Personal li.Personal-ico1{background-position:0 17px;}
.Personal li.Personal-ico2{background-position:0 -37px;}
.Personal li.Personal-ico3{background-position:0 -89px;}
.Personal li.Personal-ico4{background-position:0 -144px;}
.Personal li.Personal-ico5{background-position:0 -199px;}
.Personal li.Personal-ico6{background-position:0 -251px;}
.Personal li.Personal-ico7{background-position:0 -309px;}
.Personal li.Personal-ico8{background-position:0 -365px;}


.Personal li a{color:#4e4e4e;font-size:14px;font-family:"微软雅黑";padding-right:10px;}
.Personal li a:hover{color:#f70;background:url(../images/individualLeft.png) no-repeat right center;}
.Personal li a.hover{color:#f70;background:url(../images/individualLeft.png) no-repeat right center;}

.PersonalContent{width:823px;overflow:hidden;color:#333;line-height:24px;font-family:"微软雅黑";}
.PersonalContent h3{width:798px;margin:0 auto;color:#000;line-height:24px;height:24px;font-family:"微软雅黑";border-bottom:1px solid #e5e5e5;margin-bottom:20px;margin-top:20px;}
.SubmitForm{clear:both;}
.SubmitForm-in{width:400px;margin-left:40px;font-size:0.8rem;color:#400f1d;padding-bottom:10px;font-family:"微软雅黑","Arial",HELVETICA;}
.SubmitForm-in li{margin-top:5px;line-height:30px;}
.SubmitForm-in li em{letter-spacing:6px;}
.SubmitForm-in li .SubmitForm-input{border:1px solid #ece9e9;height:28px;line-height:28px;width:314px;}
.SubmitForm-in li i{width:72px;text-align:right;font-style:normal;display:inline-block;}
.SubmitForm-in li span{margin-right:10px;}
.SubmitForm-in li a{color:#029eee;font-family:"微软雅黑";font-size:14px;}
.SubmitForm-img{border-radius:50%;width:82px;height:82px;}

.safetyFrom{width:400px;margin-left:40px;font-size:0.8rem;color:#400f1d;padding-bottom:10px;font-family:"微软雅黑","Arial",HELVETICA;}
.safetyFrom li{margin-top:10px;overflow:hidden;}
.safetyFrom li .safetyFrom-input{width:314px;height:30px;line-height:30px;border:1px solid #eaeaea;padding:0 10px;}
.safetyFrom li .safetyFrom-input-bg{background:url(../images/safetyFrom-input.png) no-repeat 305px center;padding-right:50px;width:274px}
.safetyFrom li .safetyFrom-button{width:110px;height:32px;line-height:32px;text-align:center;background:#ff6f20;border:none;border-radius:10px;font-size:14px;color:#fff;font-family:"微软雅黑";}
.safetyFrom li strong{background:url(../images/safetyFrom.png) no-repeat left center;padding-left:25px;height:30px;display:inline-block;line-height:30px;}
.safetyFrom li strong.safetyFrom_bg1{background-position:0 6px;}
.safetyFrom li strong.safetyFrom_bg2{background-position:0 -28px;}
.safetyFrom li strong.safetyFrom_bg3{background-position:0 -60px;}


.centerContent{width:823px;overflow:hidden;color:#333;line-height:24px;font-family:"微软雅黑";}
.centerContent h3{font-size:14px;color:#000;line-height:30px;height:30px;font-family:"微软雅黑";border-bottom:1px solid #e5e5e5;margin-top:20px;}

/*个人中心*/
.Head{border:1px solid #eaeaea;margin-top:20px;width:821px;padding:40px 0;}
.Head dl{width:700px;margin:0 auto;overflow:hidden;}
.Head dt{width:100px;float:left;}
.Head dt .Head-img{border-radius:50%;width:82px;height:82px;}
.Head dd{width:600px;float:Right;position:relative;margin-top:10px;}
.Head dd span{font-size:20px;color:#000000;}
.Head dd label{margin:0 10px;color:#eee;}
.Head dd a{background:url(../images/safetyFrom.png) no-repeat left center;padding-left:24px;display:inline-block;height:30px;line-height:30px;color:#424242;}
.Head dd a:hover{color:#f70;}
.Head dd a.Head-bg1{background-position:0 6px;}
.Head dd a.Head-bg2{background-position:0 -28px;}
.Head dd a.Head-bg3{background-position:0 -92px;}
.Head dd a.Head-bg4{background-position:0 -60px;}
.Head dd a.Head-bg5{background:url(../images/head.png) no-repeat right center;padding-right:20px;position:absolute;right:44px;top:0px;color:#f5345d;}


.flowList{overflow:hidden;margin-top:20px;}
.flowList li{display:inline;width:94px;}
.flowList li.flowIn{width:93px;height:75px;padding-top:18px;border:1px solid #d2d2d2;background:#eee;display:inline-block;border-radius:50%;text-align:center;}
.flowList li.flowLine{widht:19px;height:94px;background:url(../images/flow.png) no-repeat center center;padding:0 20px;}

.noticeList{overflow:hidden;}
.noticeList li{height:30px;line-height:30px;margin-top:10px;}
.noticeList li span{width:30px;line-height:30px;background:#eee;display:inline-block;border-radius:50%;text-align:center;color:#000;margin-right:10px;}


.Address{overflow:hidden;margin-top:20px;}
.Address li{height:20px;line-height:20px;color:#000;}


.addressList{width:823px;margin-top:10px;}
.addressList td{border:1px solid #e5e5e5;padding:10px;font-size:14px;color:#494848;}
.addressList table{border-collapse:collapse;}
.addressList td a{color:#039eee;margin:0 5px;}
.addressList td a:hover{color:#f70;}
.addressList tr.addressBg{background:#f6fcff;}

.addressTitle{color:#232323;font-size:14px;font-weight:900;font-family:"微软雅黑";}
.addressTitle cite{color:#858585;font-size:12px;font-family:"微软雅黑";margin-left:10px;}
.addressTitle cite span{color:#ff0000;}


.receivingAddress{border:1px solid #eee;margin-top:20px;padding-bottom:10px;}
.receivingAddress h1{background:#f8f8f8;font-size:14px;color:#ff6f20;padding-left:10px;height:35px;overflow:hidden;line-height:35px;}
.receivingAddress li{margin-top:5px;line-height:30px;padding:0px 20px;margin-top:10px;}
.receivingAddress li em{letter-spacing:6px;}
.receivingAddress li .receivingAddress-input{border:1px solid #ece9e9;height:28px;line-height:28px;width:314px;}
.receivingAddress li .receivingAddress-button{border:1px solid #ece9e9;height:28px;line-height:28px;padding:0px 20px;background:#ff6f20;color:#fff;border-radius:20px;cursor:pointer;}
.receivingAddress li i{width:110px;text-align:right;font-style:normal;display:inline-block;}
.receivingAddress li span{margin-right:10px;}
.receivingAddress li a{color:#029eee;font-family:"微软雅黑";font-size:14px;}

