/*↓flexbox*/
.content_wrapper .item_list .item_list_pics li,.flex_box{
	display:-webkit-box;
	display: -webkit-flex;
	display: flex;
	display: -ms-flexbox;
}

.content_wrapper .metro .pic_tabs .flex_box > a, 
.content_wrapper .metro .flex_box li,
.content_wrapper .item_list .item_list_pics li > div{
	-webkit-box-flex:1;
	-webkit-flex:1;
	flex:1;
	width: 100%;
	white-space : nowrap;
}
/*flexbox*/

.cateDiv{margin:5px 0px 5px 5px; border:0px green solid; width:95%; padding-top:5px; padding-bottom:5px;overflow:hidden;}
.cateDiv ul{width: 95%; background:white; clear:both; list-style:none;}
.cateDiv ul li{float:left; margin:5px 5px 0px 5px; text-align:center; background-color:#C59354; border:0px red solid; padding-left:5px; padding-right:5px; display:block; white-space: nowrap;}


.arrow_link{
	display: block;
	width: 8px;
	height: 12px;
	float: right;
	background-size: cover;
	background-image: url

(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAYCAYAAADzoH0MAAAAGXRFWHRTb2Z0d2FyZQBBZ

G9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/I

iBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iI

Hg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgI

CAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjI

j4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xL

jAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6L

y9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvd

G9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpFREM2RUU2ODM0QTMxMUUzQjc1O

ENFRTgxOTRENDUyOSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpFREM2RUU2OTM0QTMxMUUzQjc1OENFRTgxOTREN

DUyOSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjEzOTM2MEZGMzQ4NDExRTNCN

zU4Q0VFODE5NEQ0NTI5IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjEzOTM2MTAwMzQ4NDExRTNCNzU4Q0VFODE5N

EQ0NTI5Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyI

j8+Ca2RUQAAAWdJREFUeNqklM0rRFEYh++Mj6TERomaqCmahZ2VxcxGpERRSmJDSikLxZ+AxIbFpKRZSDYslORrZ2Nno

ZSFFCkL2SgknlO/W9PtnDNX3nq6zfve33PuvXPvSeTz+UBVA3uwDBdBzErqWAtH0AOH0P0XQR2cQKd61XAAvXEF5rI7I

v0q2IeBOII5eLHMKiUfKiW4hhw8W+YVsAsjpR7ijSRPlnPKoADjPoGpW8jCg0OyBZM+gak7Se4di5mXZtonCBTOShatB

KzDrE8Q6DZyui2bZA3mzY9yzz/0KMkZZCzzRZNPBv+rpO8KGrV6m2O+AEsuQUrhtGX2o7d31fUMmuEcWhzhGdgIG1FBW

iunHOEp2CxuFgtaFW6yhL9hArajg1CQUbjBER6DHdvDMoJ2OIV6y/wLRvVZBy7BiiP8CcPanbz7gTnpKtL/gMFS4VDwC

l1wqd479Gtzjb0rv2lHPoY+HWPVrwADADGmQbGAgIoaAAAAAElFTkSuQmCC);
}

.content_wrapper{
	width: 100%;
	background-color: #eee;
}

/*点击后的遮罩层效果设置 start*/
.content_wrapper .cover{
	width: 100%;
	height: 100%;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.content_wrapper .cover:active{
	opacity: 0.15;
}
/*点击后的遮罩层效果设置 end*/

nav{
	height: 45px;
	background-color: #fe5955;
	position: relative;
}

nav .last_page{
	display: block;
	width: 44px;
	height: 45px;
	left: 0px;
	top: 0px;
	position: absolute;
	background-size: 24px 14px;
	background-color: #f2413d;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url

(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAcCAYAAAAnbDzKAAAAGXRFWHRTb2Z0d2FyZQBBZ

G9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/I

iBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iI

Hg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgI

CAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjI

j4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xL

jAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6L

y9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvd

G9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoxRDNFODM3RDNEMjQxMUUzOTNFO

UVCRkZFMTFBRTZEMSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoxRDNFODM3RTNEMjQxMUUzOTNFOUVCRkZFMTFBR

TZEMSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjFEM0U4MzdCM0QyNDExRTM5M

0U5RUJGRkUxMUFFNkQxIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjFEM0U4MzdDM0QyNDExRTM5M0U5RUJGRkUxM

UFFNkQxIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyI

j8+kyA3UwAAAk5JREFUeNrUWLtOwzAUddL0qYIYywcgiugMdIeZP0B0YEPMiA8o/AATS0cEKxMgMcLQkYGKuaIjr6Zq+

uIcFKPIaiCNQupaspw6N/Y59557ndRqNpsiTDMMQ1iWJVKp1E4ymaxiqt/tdvfRr4bDoYirWWEeMk1TAHQunU6fou8mE

gl566zf7y9qS4BeJ3h4vZjJZC4xlvib82wgUpDX2hGQkqHH6XlGgODH2WlHQJUMicQNNBSBvySjNYGgktGSgM6S+ZXAL

EjGl0AUkqE91wjaRqPR98hzQ3a/dWVX7a0oJcMDLZfLjSY5yEDiHYffreM4h+jP6rOuIpbQT4Brk3Nee6PVatFgBZK5m

IZkGAWCBpjXTqezgbEhSbjgl7PZ7APGBW8EpL0Jj2/Da3WMJXowbr1zP+5LgOhVr2xdAlXek9hUe6Pdbr/A+4Vpl0hGA

i+Cn2hz8O73HACKfD7/BufOq46V9kTtiBluJtge9Ho9O843yHGN+yM5r7043LnbcdikvUziEmR0jnF1yklcxvikJHERS

Xzvk8Rlgx80UZVRLjwYDMSEZfQDnrwBoCMoocHn1dIMbMtMWODacsvoj70hv8iiOMiwoLBt28AG8R5kcjFujMkavFAPI

ylXl6wOkeeHLznVIwwhADzCk2vQWI2ApKe0rEJ+jKExGwQq7LyedpWaiIBXUowCorHOqDA6ukXD/CvJPJJa11FSZtAk0

lVSgetkUEnFHZ2JCr2fpGSZw71W3ARC/TMnJYWxAtB3OC+OAdwEsT31JP3v9iXAAHgYB52z6/FZAAAAAElFTkSuQmCC)

;
}

nav p{
	line-height: 45px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}

nav .menu{
	display: block;
	width: 44px;
	height: 45px;
	position: absolute;
	right: 0;
	top: 0;
	background-size: 20px 16px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #f2413d;
	background-image: url

(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAgCAYAAABgrToAAAAAGXRFWHRTb2Z0d2FyZQBBZ

G9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/I

iBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iI

Hg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgI

CAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjI

j4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xL

jAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6L

y9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvd

G9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoxRDNFODM3OTNEMjQxMUUzOTNFO

UVCRkZFMTFBRTZEMSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoxRDNFODM3QTNEMjQxMUUzOTNFOUVCRkZFMTFBR

TZEMSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjFEM0U4Mzc3M0QyNDExRTM5M

0U5RUJGRkUxMUFFNkQxIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjFEM0U4Mzc4M0QyNDExRTM5M0U5RUJGRkUxM

UFFNkQxIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyI

j8+Z6MlawAAAV9JREFUeNrsVdtKxDAQTdIbhe4i7TfI7ie47/pP4geI36S+6yds2efSvhTWC5TenSkNNKEqYiwLzsDQk

pz2nCQzOTxNU+a67jnknW3blwyiaZrHqqquIQ9d17FpCCEUPOd8zQxG3/evkj8MwwPP83zj+/4zEJ4hOQaKAsCxKIoLe

MZS5ChOwYNAZligwi+A6BbJLMsayDDxHcdwToqeCFTwpkPn56DyxfO8tU6GKynL8h1iBasZxuADFgTBLN50SH7BTjwEF

qTeCLIOYe5+OjeOzeJNh+THJtlC0T990iQ7eO61JlHwf9wkO55lGXMcZ4MFCdfG1XjNPADgpq7ruG1b5QdYwFM8CFwZF

vgm+eGaiXmSJMPOyJQ7KHO2LjT8b3YxiqIv5+2poJ/UxxJ1OGzGqXexPXdkSx7xtwJ1b13ai+EyJi8mLyYvJi8mLyYvJ

i8mLyYvJi8mL/6/XvwhwACJ3YQJV6cnnAAAAABJRU5ErkJggg==);
}

.content_wrapper .banner img{
	width: 100%;
}

.content_wrapper .notice{
	margin: 10px;
}

.content_wrapper .notice p:first-child{
	line-height: 20px;
	color: #fff;
	padding: 10px;
	background-color: #fa701c;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.content_wrapper .notice p:first-child > span{
	margin-right: 8px;
	white-space: nowrap;
}

.content_wrapper .notice p:first-child ~ p{
	height: 44px;
	line-height: 44px;
	background-color: #fff;
	font-size: 12px;
}

.content_wrapper .notice p:first-child ~ p:active{
	background-color: #e1e1e1;
}

.content_wrapper .notice p:first-child ~ p > a{
	display: block;
	height: 100%;
}

.content_wrapper .notice p:first-child ~ p > a > span:last-child{
	margin: 16px 10px 0 0;
}

.content_wrapper .notice p .onsale{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin:0 8px;
	vertical-align: middle;
	background-size: cover;
	background-image: url

("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAGXRFWHRTb2Z0d2FyZQBB

ZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/

IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8i

IHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAg

ICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMj

Ij4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8x

LjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6

Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhv

dG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpFQkNCMDA4OTMyQkIxMUUzQjc5

MzhBOTZCQkI3MDlENiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpFQkNCMDA4QTMyQkIxMUUzQjc5MzhBOTZCQkI3

MDlENiI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkVCQ0IwMDg3MzJCQjExRTNC

NzkzOEE5NkJCQjcwOUQ2IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkVCQ0IwMDg4MzJCQjExRTNCNzkzOEE5NkJC

QjcwOUQ2Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJy

Ij8+iZJJSwAAAFdQTFRF+nAc820b/uHW/////cCn//j1/K6O+5tw+nw3+5Ff85tk928c+XAc/vDr/unh++jc/dHA+4dN

8nUp83Qo/Leb83Mn/dnL/KWA++fb/ci083Mm/One////af3VhgAAAB10Uk5T////////////////////////////////

/////wBZhudqAAABE0lEQVR42tSV646EIAyFa0u5KV5G57bj+z/nAk50squWn7sn5kjiF6AtFphffqwEjf41Q3epGxDU

1JcOfA0Fqj2MTQnYfEEFRar+Leh0fk3DLmhUVmKQkhvCXVBRVvpoOdhobA/A5IiglcKbUi3dlvkPQaRNuA9qzCCCjRs0

0fEAjE8GVbAJDE8JHFhFcCIngaBY052f4tJgTZzRiHtkRGypjc4yuOgc1GuWP4Z7YCqN2gp/AuLvwvwAl5C3WHEXHAxw

b5wTwXheKeSDuIbNB2BPLtBdBg314JidtLRjGhLN7hyM3JSDb+15emzbvweA4Z3vgOe/61o4rf9GSylupMWt+VHW7B8w

d/4qXR9X383fAgwAte8KHotAhKkAAAAASUVORK5CYII=");
}

.content_wrapper .notice p:last-child{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.content_wrapper .metro{
	padding: 10px 10px 0;
	background-color: #fff;
}

.content_wrapper .metro .pic_tabs .flex_box > a{
	display: block;
	position: relative;
}

.content_wrapper .metro .pic_tabs .flex_box img{
	width: 100%;
}

.content_wrapper .metro .pic_tabs .tab_link{
	width: 100%;
	background-color: #b156b8;
}

.content_wrapper .metro .pic_tabs .tab_link p{
	color: #fff;
	line-height: 20px;
	margin: 0 auto;
	width: 85%;
}

.content_wrapper .metro .pic_tabs .tab_link .text1{
	font-size: 12px;
	margin-top: 20%;
}

.content_wrapper .metro .pic_tabs .tab_link .text2{
	font-size: 9px;
}

.content_wrapper .metro .pic_tabs .tab_link p:last-child{
	font-size: 12px;
	margin-top: 12%;
	text-align: right;
}

.content_wrapper .metro .pic_tabs .tab_link p:last-child span{
	color: #d4a1d7;
}

.content_wrapper .metro .flex_box li{
	width: 100%;
	margin-bottom: 10px;
}

.content_wrapper .metro .flex_box li > a{
	display: block;
	height: 100%;
	line-height:31px; 
	text-align: center;
	color: #666;
	background-color: #f0f0f0;
	border-radius: 2px;
}

.content_wrapper .metro .flex_box li > a:active{
	background-color: #ff827f;
	color: #fff;
}

.content_wrapper .metro .flex_box li:nth-child(2){

}

.content_wrapper .item_list .item_list_inner{
	padding: 10px;
}

.content_wrapper .item_list .item_list_inner > a:first-child{
	display: block;
	height: 32px;
	background-color: #e0e0e0;
	border-radius: 4px;
}

.content_wrapper .item_list .item_list_inner > a:first-child:active{
	background-color: #cfcfcf;
}

.content_wrapper .item_list .item_list_inner .list_name{
	min-width: 128px;
	height: 100%;
	background-color: #c59354;
	line-height: 32px;
	text-align: center;
	color: #fff;
	float: left;
	border-radius: 4px 15px 15px 4px;
}

.content_wrapper .item_list .item_list_inner .view_all{
	width: 110px;
	line-height: 32px;
	color: #666;
	float: right;
}

.content_wrapper .item_list .item_list_inner .view_all span{
	margin: 10px 10px 0 0;
}

.content_wrapper .item_list .item_list_pics li{
	margin-top: 10px;
	width: 100%;
}

.content_wrapper .item_list .item_list_pics li > div:last-child{
	margin-left: 10px;
}

.content_wrapper .item_list .item_list_pics .link_pic{
	display: block;
	padding: 5px;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	background-color: #fff;
}

.content_wrapper .item_list .item_list_pics .link_pic > div:first-child{
	position: relative;
}

.content_wrapper .item_list .item_list_pics .link_pic > div:first-child > div{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0;
}

.content_wrapper .item_list .item_list_pics .link_pic > div:first-child > div:active{
	opacity: 0.15;
}

.content_wrapper .item_list .item_list_pics .link_pic img{
	width: 100%;
}
.content_wrapper .item_list .item_list_pics li .item_dsr{
	margin-left: 5px;
}

.content_wrapper .item_list .item_list_pics li .item_dsr > a{
	display: block;
	margin-top: 10px;
	width: 100%;
	height: 36px;
	overflow: hidden;
}

.content_wrapper .item_list .item_list_pics li .item_dsr > p{
	margin-top: 10px;
}

.content_wrapper .item_list .item_list_pics li .item_dsr > p > span:first-child{
	color: red;
}

.content_wrapper .item_list .item_list_pics li .item_dsr > p > span:last-child{
	margin-left: 5px;
	color: #aaa;
	text-decoration: line-through;
	font-size: 12px;
}

.shop_wrapper{
	margin: 10px;
	position: relative;
}

.shop_wrapper .shop_info .logo{
	width: 70px;
	height: 70px;
	border: 1px solid #e0e0e0;
	padding: 5px;
	float: left;
}

.shop_wrapper .shop_info .logo img{
	width: 70px;
	height: 70px;
}

.shop_wrapper .shop_info .shop_dcr{
	margin-left: 90px;
}

.shop_wrapper .shop_info .shop_dcr p:first-child{
	line-height: 30px;
	color: #000;
	font-weight: bold;
	margin-bottom: 10px;
}

.shop_wrapper .shop_info .shop_dcr p:first-child~{
	line-height: 24px;
	color: #666;
}

.shop_wrapper .shop_info_middle{
	height: 30px;
	margin-top: 20px;
	border-top: 1px dashed #e0e0e0;
	border-bottom: 1px dashed #e0e0e0;
}

.shop_wrapper .shop_info_middle > div{
	width: 300px;
	line-height: 30px;
	margin: 0 auto;
	color: #666;
}

.shop_wrapper .shop_info_middle > div > span:first-child + span{
	margin: 0 2px;
}

.shop_wrapper .shop_info_middle .red{
	color: #ff3c3c;
}

.shop_wrapper .shop_info_middle .blue{
	color: #5091e2;
}

.shop_wrapper .shop_info_bottom{
	display: block;
	width: 240px;
	height: 25px;
	background-color: #8fc31f;
	margin: 15px auto;
	padding-top: 7px;
	text-align: center;
	border-radius: 3px;
	color: #fff;
}

.shop_wrapper .shop_info_bottom:active{
	background-color: #6fa200;
}

.shop_wrapper .shop_info_bottom .contact_wrapper{
	height: 17px;
	margin: 0 auto;
	padding-left: 18px;
	background-repeat: no-repeat;
	background-image: url

(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAARCAYAAADtyJ2fAAAAGXRFWHRTb2Z0d2FyZQBBZ

G9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/I

iBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iI

Hg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgI

CAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjI

j4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xL

jAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6L

y9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvd

G9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDoxMzkzNjBGRDM0ODQxMUUzQjc1O

ENFRTgxOTRENDUyOSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDoxMzkzNjBGRTM0ODQxMUUzQjc1OENFRTgxOTREN

DUyOSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjEzOTM2MEZCMzQ4NDExRTNCN

zU4Q0VFODE5NEQ0NTI5IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjEzOTM2MEZDMzQ4NDExRTNCNzU4Q0VFODE5N

EQ0NTI5Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyI

j8+W0zOfAAAASBJREFUeNpi+P//PwMSZgPicDQxrBhdYPF/CAgiRaPtfwR4B8Ty+DQyMSCACxJbEIiXADGyPApAlmBBk

1MFYjZiNJ5Ak1sDxD9waUR2NzMQX0Xy5zUg5ic2VE2A+CuS5r3QKCKoEYT9gPgPkuYlQMwJxCuA2BxdowUQNwCxLpSf+

R8VfIfSb2BqQIrUgfg9EC+D0mZQze3/sYPHQKwCUlALVQRiRwPxIyCWAWJGqDOxgWsgxSlAvBsaqiB+MxBfgoYoSKwfi

H8jaXoAxK4MUI+fAOJpUI0wmzYjGSYHxIFAfAGI7ZEDRxSIbwOxP1IuOYpkGAhzAPEzIFZAjw5xIOZD4sMMmwDEhkA8F

4h34YtHZAzKIdugiWIn1HCwHECAAQCm+I4DIXbAbgAAAABJRU5ErkJggg==);
}

/*收藏*/
.shop_wrapper .favorite{
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	border: 1px solid #d9d9d9;
	border-radius: 16px;
	right: 15px;
	top: 45px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f3f3f3));
}

.shop_wrapper .favorite .heart{
	width: 17px;
	height: 15px;
	margin: 10px 0 0 8px;
	background-size: 17px 15px;
	background-repeat: no-repeat;
	background-image: url

(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAfCAYAAABtYXSPAAAAGXRFWHRTb2Z0d2FyZQBBZ

G9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/I

iBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iI

Hg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgI

CAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjI

j4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xL

jAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6L

y9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvd

G9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NjlERDE3MTE1NzMyMTFFM0I4MkJDQ

zM3MDUwNDQ4MEYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NjlERDE3MTI1NzMyMTFFM0I4MkJDQzM3MDUwNDQ4M

EYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo2OUREMTcwRjU3MzIxMUUzQjgyQ

kNDMzcwNTA0NDgwRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo2OUREMTcxMDU3MzIxMUUzQjgyQkNDMzcwNTA0N

DgwRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/P

qdohXMAAAQmSURBVHjaxJd9SFtXFMBPXl6+1aT2w6+YusTWulosxUKH/jEHG2OsHWUf7J8x6MDNMTZXCh1CYbVFO7tR2

Epbiso+suFcSwVtu+EqulJ1xSFOnZsTnVo/Yk3M10vyXvLe27khcVnWsKSbvgOH++7j3vt+79xzzj0XRFGEB2gOai3qX

VQ7Ko86g2pFrUwwJ1YrI2NnInPtkbVqI2uvjY0VWdwLCvUYG/CfmJueTLMtzALj9UAoyIFao4XMLVmQ/8gOMGzeel0ul

x/Bscvwd9mG2mRfXjo4N/07OFZsEPD7gFYoQZeWDlm5JjAWWBjsn6ZpuhHHCjKZ7IEwSnxunZoYOzz5yzCEQiFIJFm5+

VCy78AfXDD0ZEZGxmTktZljA10/D/aZbQtzCeciBBQ+WopQOzpUKtULCMP9A0YQhEtDA72vL83PQjKi1aVDWcUT08v37

QcsFgvvYzwDP/Z2FWKb1PzsPBPs3FP2Kf4MsbAYC/P8yE/9V2anJiAVIabf+1hlh0ajEfu7bxwiW5qKmMw7ITPb9KrRa

Pw86iPKpXszZ1MFIUI+PjU+fHBksC9lECLkm2KIPVVVVaUPW4bn+Rd7v73W5mO8IIVodWmQY95dVVxc3ERhxByWCoQI+

bZc5J/BRzWFDrsfJBanw7Y3DONyrBRIDeN1rRqxUVBoJlpqGL/fRxjkFIa2X2oYgedZEkwUpvUJqWEw002ThtKl6wekh

qFo5SA2IcqQueWm5D7D8t3YcNS2HONN9JsVybYIy4u6+g8IDEttzc7jlCr1R1LBeBj/5ZHRMTYMgwKWopJPkHB+w6NIE

BabrW0tJNWEHZi8LCjcxajUmuqNhlmw3X/vVncPOWGZ6KkNcix4SveXd4R4/sKGbY+XaXnjnePf46MrWs9Qa/VijhEKi

0reRaAf1huE47g7dY0f10UsEoitedekuLSM06UbnkOg0fUCwXJ2rOWrq6+N//ob8RN3fAH+Vwed+fGnnnWKMroSgYbWA

WT4i7b2lzpvfOfA7qoYdxuIvx2EJcix0N5m1dOU2KpUKJ7+P0ACLNt1sdn61q2e26vYJVcXIQyQ4HYQ9xdB+PDMabnZm

H1Wp9PWkLEPm9dcbs/56qO1jW63xxdvkaRgItkRJsaG4G7f7Vc2GfTncWJGitnVMze/eOzNo7WdJJdg3x0/JmmYqCzem

4GrrdaivNysZty28iQjpr+r507NxabPyN3HlahUSRkmfJj5vFBRXk7XVB95G610AhcxJLCGc3nF3oDW+JJlORK2TnLFT

bTuQ8HEXi8uX7pgKi3Z1aDVaF6OiUiB8fm//qb9ev2V9k5y8Hpwbebf1vtPMOEtYFlQqdXUuYb3K7bn55LkBcOj4/Unz

5wj+Yk4qTsaLesOExW30wH6TZsV+Bh1bAIRTGWNWJg/BRgAvhBSu8AyHF8AAAAASUVORK5CYII=);
}

.shop_wrapper .favorite .heart.like{
	background-image: url

(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAfCAYAAABtYXSPAAAAGXRFWHRTb2Z0d2FyZQBBZ

G9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/I

iBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iI

Hg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgI

CAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjI

j4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xL

jAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6L

y9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvd

G9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RTkxMjM0MzE1NzMxMTFFM0EzMUZDR

jBERjA5QTdEMDQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RTkxMjM0MzI1NzMxMTFFM0EzMUZDRjBERjA5QTdEM

DQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpFOTEyMzQyRjU3MzExMUUzQTMxR

kNGMERGMDlBN0QwNCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpFOTEyMzQzMDU3MzExMUUzQTMxRkNGMERGMDlBN

0QwNCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/P

nOI8CcAAAQTSURBVHjaxJdtSFtnFMf/9+bGRJQ0H1rTWD/YutKR1W0M0gpuBWEtZbSzMueXMocbTFaGrSB1WEpBRMHho

LQdQ5xdy6zDbR86O5rSbgPbONtadIuDVizVrG2aRLNEE2OSm3t3npp0qSaQSPX+4fA89+Z5+eXc5+UcyLKMJGYkayK7R

TZDFiWbIvuOrCxFn0Qri7WdivWdiY3VFBv7WdtEcUte8GQN8HiO48qVXFitwOPHgN8PbNgAFBcDe/ciWlz8i0ql+ojau

vC88si6MDq6HxYLYLMBbjeQmwvk5wOlpZD37AlE161rEQShndpKHMclhcki1O/R11eBnh4gGERKlZRAqq+f9AvCbp1ON

xF7uwVe71V0dGzB0FDqvtnZwMGDCB840J+l0VQSTHg5jCh+jZaW2qfeSEdGI6KtrQ8mQ6GSoqKiKByOITQ2vkRlev3JS

4H6+m9z9XrmYTkR5j2cPPkjLl1CRiLXz7e392drtTJXV/fu00+aifbtw6PKyg8LCgrOx2GycP36XTQ3b8ZKtGsX8yowO

Lii7tFjx+yHentf7ezs9HFyJPI+amr68OQJFNHGjRhvavpkm8nUxdM/qlAMhInmNk5OvkM1LY8bN8xQWNrh4dcXYe7dK

1QaRpiYKKBCzcPpFJSG4VwuxqDiEY0GlYaRRTHEmHhoNONKw0QE4QFj4rFp05DSMIG8vGF2B/AwmS4rDWM3GH6jIszDb

L5MF8K0UiAShRc1Fy8ymBCPHTvCsk7XoRSMQ6PpHBkfDy3CCAL4qqpT5J1Haw1CUZfjkNPZTVX/4gJmKi8PSOvXf7rWM

H+p1Z//fOfOHFvD8ciODmItVIcP90dk+au1AvFEIt1vWCzXqOqLxzN8YvSmrqioJ6CB1QYJSpL17fv3m2MeWUiMef9Xb

W04YDKVE9DYaoGEJenvz9zuj0cePmTrZHZpAJ5wYwnQt7V5p/PzywhoZBVA/mxwuaq6bTYPPf4rJ8kGnldODoxnzkz/Q

0ALkmR5YadsNHq12m6vOjU2RukCWOoiLbswl+YuzzQ/jx+qq1W7Z2a+0AvCEdZ2pfegOxw+/fLt2+2eYHB+qUdSpSpJh

qHfzp6F49y5Dwxq9Wme43QZnq5zd4PBhlcGB1mk76e5Zpd5I22YuAYGMHzixLbtPP+NludL09wxf3S53UfqbDY72740T

9JQJXMYJqcTZWazcKGwsM6QlXWcvKRP4Q2vfWGhzXTzZk9QFNm29bIUN2VglQDDp+1zgwG/T02JxqNHv/xpbu61WVG8w

OZO5PCJYm+j3f7WZqv1PIF443l62hFf2p5JlM8HTq/nb+3c+eb2nBx2eOFXj6d1/+goO5/YIp1Ntlte3GdKpokJcFu3q

qkWX9gMIpJR/JsA858AAwC9ZC53A6IppwAAAABJRU5ErkJggg==);
}

/*收藏提示*/
.shop_wrapper .favoriteTips{
	display: block;
	width: 62px;
	height: 15px;
	position: absolute;
	border: 1px solid #d9d9d9;
	right: 0px;
	top: 26px;
    border-radius: 3px;
    text-align:center;
    vertical-align:center;
}

.shop_wrapper .none{
	display: none;
}